<style>

body {
  background-image: url("http://xdesktopwallpapers.com/wp-content/uploads/2011/10/Immortals-Battleground-View.jpg")

}

.button {
 display: inline-block;
 padding: 10px 15px;
 font-size: 15px;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 outline: none;
 color: #fff;
 background-color: #4CAF50 ;
 border: none;
 border-radius: 15px;
 box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41 }

.button:active {
 background-color: #3e8e41 ;
 box-shadow: 0 5px #666;
 transform: translateY(4px);
}

</style>


<head>

  <body>
<h1 style = "color:blue" > BATTLE </h1>

<h2> Enter names to play <h2>


<form action="/names" method ="post">
  <label for="player1"> PLAYER 1 </label>
  <input type="text" name="name1">
  <br>
  <label for="player2"> PLAYER 2 </label>
  <input type="text" name="name2">
  <br>
  <button class = "button"  type="submit" value ="Submit" > SUBMIT </button>
</form>


</body>
</head>
